.link {
  text-decoration: none;
  color: #bdd5d2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  transition: border-color 0.25s;
}

.link:hover {
  color: rgb(29, 231, 146);
}
.link:focus {
  color: blue;
}
.link:active {
  color: blue;
}

.nav {
  display: flex;
  gap: 25px;
}
