.link {
  text-decoration: none;
  color: #bdd5d2;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition: border-color 0.25s;
}

.link:hover {
  color: #527499;
}
.link:focus {
  color: #527499;
}
.link:active {
  color: #527499;
}

.nav {
  display: flex;
  gap: 25px;
  margin-right: 20px;
}
